name: Create Tag and Release changelog superrelease noparam

on:
  workflow_dispatch:
    inputs:
      tag_name:
        description: 'Tag name for the new release'
        required: true

permissions:
  contents: write
  packages: write
  pull-requests: write

jobs:
  fetch-tag:
    runs-on: ubuntu-latest
    outputs:
      old_tag: ${{ steps.get_tag.outputs.old_tag_name }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          ref: ${{ github.ref }}
          fetch-depth: 0

      - name: Get latest tag
        id: get_tag
        run: |
          echo "old_tag_name=$(git ls-remote --tags origin | awk -F'/' '{print $3}' | grep -v '{}' | sort -V | tail -n1)" >> $GITHUB_OUTPUT
      
      - name: print tag
        id: print_tag
        run: | 
          echo "Old Tag=${{ steps.get_tag.outputs.old_tag_name }}"
          echo "NEW_TAG=${{ github.event.inputs.tag_name }}" >> $GITHUB_ENV
          echo "$(basename ${{ github.ref }})"
      
      - name: Check if tag exists
        id: check_tag
        run: |
          import sys
          import subprocess
          tag_name = "${{ github.event.inputs.tag_name }}"
          command = ['git', 'tag', '-l', tag_name]
          output = subprocess.check_output(command, stderr=subprocess.STDOUT)
          if output.decode() != "":
            print(f"Error: Tag '{tag_name}' already exists.", file=sys.stderr)
            sys.exit(1)
          else:
            print(f"Tag '{tag_name}' does not exists.")
        shell: python
        continue-on-error: false

      - name: Create Tag
        id: create_tag
        run: |
          git config --global user.email "github-actions@github.com"
          git config --global user.name "GitHub Actions"
          git tag -a ${{ github.event.inputs.tag_name }} -m "Prepare for ODH release ${{ github.event.inputs.tag_name }}"
          git push origin ${{ github.event.inputs.tag_name }}

  changelog:
    name: Changelog
    needs: fetch-tag
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          ref: ${{ github.ref }}

      - name: Create Release
        uses: softprops/action-gh-release@v2
        with:
          token: ${{ github.token }}
          tag_name: ${{ github.event.inputs.tag_name }}
          prerelease: false
          draft: false
          files: bin/*
          generate_release_notes: true
          name: ${{ github.event.inputs.tag_name }}